---
import "@styles/global.css";

const canonicalURL = "localhost:4153"


---
<!doctype html>
<html lang="en">
	<head>
		<title>Woningnet Marauder</title>
		<meta name="description" content="" />
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={canonicalURL} />
	</head>
	<body>
		<slot />
	</body>
</html>
